name: Run Autotester on Windows Environment

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
# If you are doing triggering your workflow from pushes or merging more than twice a day on average,
# please execute your workflow on a schedule instead.
# Comment the above 7 lines, and uncomment the following 3 lines
# Runs job at 8am and 6pm daily
# on:
#  schedule:
#    - cron: "0 0,10 * * *"

env:
    BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 3
    strategy:
      fail-fast: true

    steps:
      - uses: actions/checkout@v2

      - name: Build Project and Cache
        shell: bash
        run: |
          cd Team40/Code40
          mkdir build
          cd build
          cmake -A Win32 ..
          # cmake --build . --target unit_testing --config Release
          # cmake --build . --target integration_testing --config Release
          cmake --build . --target autotester --config Release
      - uses: actions/cache@v2
        id: restore-build
        with:
          path: ./*
          key: ${{ runner.os }}-build

  test:
    needs: build
    runs-on: windows-latest
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        test-files:
          - { source: Source1, queries: Queries1, output: out1 } 
          - { source: Source2, queries: Queries2, output: out2 } 
          - { source: Source3, queries: Queries3, output: out3 } 
          - { source: TA_source, queries: TA_queries, output: TA } 
          - { source: TD_BasicSource_source, queries: TD_BasicSource_queries, output: TD_Basic } 
          - { source: TD_ComplexSource_source, queries: TD_ComplexSource_queries, output: TD_Complex } 
          - { source: TD_DeepNest_source, queries: TD_DeepNest_queries, output: TD_DeepNest }
          - { source: TD_SIMPLE_1_source, queries: TD_SIMPLE_1_queries, output: TD_SIMPLE_1 } 
          - { source: TD_SIMPLE_2_source, queries: TD_SIMPLE_2_queries, output: TD_SIMPLE_2 } 
          - { source: TD_SIMPLE_3_source, queries: TD_SIMPLE_3_queries, output: TD_SIMPLE_3 } 
          - { source: TD_SIMPLE_4_source, queries: TD_SIMPLE_4_queries, output: TD_SIMPLE_4 } 

    steps:
      - uses: actions/checkout@v2

      - name: Use Cache
        uses: actions/cache@v2
        id: restore-build
        with: 
          path: ./*
          key: ${{ runner.os }}-build
      - name: Run Tests
        run: Team40\Code40\build\src\autotester\Release\autotester.exe Team40\Tests40\${{ matrix.test-files.source }}.txt Team40\Tests40\${{ matrix.test-files.queries }}.txt Team40\Code40\tests\${{ matrix.test-files.output }}.xml
      - name: Archive System Test Results
        uses: actions/upload-artifact@v2
        with:
          name: system-test-report
          path: |
            Team40/Code40/tests/*.xml
            Team40/Code40/tests/analysis.xsl
